.sidenav {
  width: 400px;
  padding: 45px 16px;
}

.title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.2;
  }